html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "sans-serif";
  color: white;
  background: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  body {
    color: white;
    background: black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: white;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.introCarrousel .swiper-pagination-bullet-active {
  background-color: #ff426f !important;
  height: 0.625rem;
  width: 0.625rem;
}

.introCarrousel .swiper-pagination-bullet {
  background-color: #f2ff9f;
  opacity: 1;
  height: 0.625rem;
  width: 0.625rem;
}

.adsBanner .swiper-wrapper {
  height: 6rem;
}

.adsBanner .swiper-pagination-bullet-active {
  background-color: #ff426f !important;
  height: 0.625rem;
  width: 0.625rem;
}

.adsBanner .swiper-pagination-bullet {
  background-color: #f2ff9f;
  opacity: 1;
  height: 0.625rem;
  width: 0.625rem;
}

.maxWidth {
  width: max-content;
}

.buyButton {
  background: #76ffc6;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
}

.sellButton {
  background: #ee4d37;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 4rem;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.MFHoldingAnalysis
  .apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
  top: 0 !important;
}

.MFHoldingAnalysis span.apexcharts-legend-text {
  color: #fff !important;
}

.riskprofile .swiper {
  margin: 0px auto;
}


.riskprofile .swiper-slide{
  background-color: #000;
  border-radius: 0.5rem;
}

.apexcharts-toolbar svg {
  display: none;
}

.apexcharts-legend-marker {
  border-radius: 0px !important;
  margin-right: 5rem !important;
}

tspan {
  display: none;
}

.apexcharts-grid {
  display: none;
}